In [1]:
import pandas as pd

data_hana = pd.read_clipboard()

# Menampilkan data
print(data_hana)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[128 rows x 7 columns]

In [3]:
hana = data_hana[data_hana['Bedrooms'] == 2]

# Menampilkan nama
print(hana)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
11   123000  1870         2          2       2   Yes         East
18   111400  1700         2          2       1   Yes         East
28    69100  1600         2          2       3    No        North
31   112300  1930         2          2       2   Yes        North
34   117800  2000         2          2       3    No        North
36   117500  1880         2          2       2    No        North
40   106600  1560         2          2       1    No         East
42   105600  1990         2          2       3    No         East
46   129800  1990         2          3       2    No        North
48   115900  1980         2          2       2    No         East
51    91100  1860         2          2       3    No        North
52   117400  2150         2          3       4    No        North
55   125700  1720         2          2       2   Yes         East
61   100900  1610         2          2       2    No        North
63   120500  1910         2          3       2    No         East
65   111100  1450         2          2       1   Yes        North
75   106900  1900         2          2       2    No        North
82   164800  2050         2          2       1   Yes         West
84    90500  1520         2          2       3    No        North
89    97800  2010         2          2       4    No        North
95   152500  1970         2          2       1   Yes         West
97   126800  2000         2          2       1   Yes         East
110  111600  1710         2          2       1    No        North
111  114900  1740         2          2       2    No        North
112  123600  1940         2          2       2   Yes         East
119  109700  1920         2          2       4    No        North
120  110400  1930         2          3       3    No        North
122  144800  2060         2          2       1   Yes         East
125  113500  2070         2          2       2    No        North

In [5]:
hana['Bathrooms'] = pd.to_numeric(hana['Bathrooms'])

import numpy as np

hana['Bathrooms'] = hana['Bathrooms'].apply(lambda x: 'large' if x > 2 else 'small')

# Menampilkan DataFrame setelah modifikasi
print(hana)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

C:\Users\csdln\AppData\Local\Temp\ipykernel_21804\1867185456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hana['Bathrooms'] = pd.to_numeric(hana['Bathrooms'])
C:\Users\csdln\AppData\Local\Temp\ipykernel_21804\1867185456.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hana['Bathrooms'] = hana['Bathrooms'].apply(lambda x: 'large' if x > 2 else 'small')

In [7]:
import numpy as np

hana['newvariable'] = np.where(hana['Offers'] > 2, 'large', 'small')

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(hana)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood newvariable
0    114300  1790         2     small       2    No         East       small
11   123000  1870         2     small       2   Yes         East       small
18   111400  1700         2     small       1   Yes         East       small
28    69100  1600         2     small       3    No        North       large
31   112300  1930         2     small       2   Yes        North       small
34   117800  2000         2     small       3    No        North       large
36   117500  1880         2     small       2    No        North       small
40   106600  1560         2     small       1    No         East       small
42   105600  1990         2     small       3    No         East       large
46   129800  1990         2     large       2    No        North       small
48   115900  1980         2     small       2    No         East       small
51    91100  1860         2     small       3    No        North       large
52   117400  2150         2     large       4    No        North       large
55   125700  1720         2     small       2   Yes         East       small
61   100900  1610         2     small       2    No        North       small
63   120500  1910         2     large       2    No         East       small
65   111100  1450         2     small       1   Yes        North       small
75   106900  1900         2     small       2    No        North       small
82   164800  2050         2     small       1   Yes         West       small
84    90500  1520         2     small       3    No        North       large
89    97800  2010         2     small       4    No        North       large
95   152500  1970         2     small       1   Yes         West       small
97   126800  2000         2     small       1   Yes         East       small
110  111600  1710         2     small       1    No        North       small
111  114900  1740         2     small       2    No        North       small
112  123600  1940         2     small       2   Yes         East       small
119  109700  1920         2     small       4    No        North       large
120  110400  1930         2     large       3    No        North       large
122  144800  2060         2     small       1   Yes         East       small
125  113500  2070         2     small       2    No        North       small

C:\Users\csdln\AppData\Local\Temp\ipykernel_21804\726889321.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hana['newvariable'] = np.where(hana['Offers'] > 2, 'large', 'small')

In [9]:
# Menambahkan kolom baru 'newvariable' 
hana['newvariable'] = hana['Price'] / hana['SqFt']

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(hana)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood  newvariable
0    114300  1790         2     small       2    No         East    63.854749
11   123000  1870         2     small       2   Yes         East    65.775401
18   111400  1700         2     small       1   Yes         East    65.529412
28    69100  1600         2     small       3    No        North    43.187500
31   112300  1930         2     small       2   Yes        North    58.186528
34   117800  2000         2     small       3    No        North    58.900000
36   117500  1880         2     small       2    No        North    62.500000
40   106600  1560         2     small       1    No         East    68.333333
42   105600  1990         2     small       3    No         East    53.065327
46   129800  1990         2     large       2    No        North    65.226131
48   115900  1980         2     small       2    No         East    58.535354
51    91100  1860         2     small       3    No        North    48.978495
52   117400  2150         2     large       4    No        North    54.604651
55   125700  1720         2     small       2   Yes         East    73.081395
61   100900  1610         2     small       2    No        North    62.670807
63   120500  1910         2     large       2    No         East    63.089005
65   111100  1450         2     small       1   Yes        North    76.620690
75   106900  1900         2     small       2    No        North    56.263158
82   164800  2050         2     small       1   Yes         West    80.390244
84    90500  1520         2     small       3    No        North    59.539474
89    97800  2010         2     small       4    No        North    48.656716
95   152500  1970         2     small       1   Yes         West    77.411168
97   126800  2000         2     small       1   Yes         East    63.400000
110  111600  1710         2     small       1    No        North    65.263158
111  114900  1740         2     small       2    No        North    66.034483
112  123600  1940         2     small       2   Yes         East    63.711340
119  109700  1920         2     small       4    No        North    57.135417
120  110400  1930         2     large       3    No        North    57.202073
122  144800  2060         2     small       1   Yes         East    70.291262
125  113500  2070         2     small       2    No        North    54.830918

C:\Users\csdln\AppData\Local\Temp\ipykernel_21804\147198468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hana['newvariable'] = hana['Price'] / hana['SqFt']

In [11]:
hana = hana.drop(columns=['newvariable'])

# Menampilkan DataFrame 'nama' 
print(hana)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

In [13]:
kolom1dan2 = data_hana.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

      Price  SqFt
0    114300  1790
1    114200  2030
2    114800  1740
3     94700  1980
4    119800  2130
..      ...   ...
123  119700  1900
124  147900  2160
125  113500  2070
126  149900  2020
127  124600  2250

[128 rows x 2 columns]

In [15]:
# Memilih kolom 1 dan 2 dari DataFrame data_nama
kolom3dan4 = data_hana.iloc[:, 2:4]

# Menampilkan DataFrame kolom3dan4
print(kolom3dan4)

     Bedrooms  Bathrooms
0           2          2
1           4          2
2           3          2
3           3          2
4           3          3
..        ...        ...
123         3          3
124         4          3
125         2          2
126         3          3
127         3          3

[128 rows x 2 columns]

In [17]:
# Menggabungkan dua DataFrame 
kolom1sd4 = pd.concat([kolom1dan2, kolom3dan4], axis=1)

# Menampilkan DataFrame kolom1sd4
print(kolom1sd4)

      Price  SqFt  Bedrooms  Bathrooms
0    114300  1790         2          2
1    114200  2030         4          2
2    114800  1740         3          2
3     94700  1980         3          2
4    119800  2130         3          3
..      ...   ...       ...        ...
123  119700  1900         3          3
124  147900  2160         4          3
125  113500  2070         2          2
126  149900  2020         3          3
127  124600  2250         3          3

[128 rows x 4 columns]

In [31]:
import pandas as pd

# Menggabungkan baris dari dua DataFrame
baris1sd3 = data_hana.iloc[0:3, :]
baris4sd6 = data_hana.iloc[3:6, :]
baris1sd6 = baris1sd3.append(baris4sd6)

# Menampilkan DataFrame baris1sd6
print(baris1sd6)

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East
4  119800  2130         3          3       3    No         East
5  114600  1780         3          2       2    No        North

In [33]:
data_hana_sort = data_hana.sort_values(by='Price')

print(data_hana_sort)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
28    69100  1600         2          2       3    No        North
54    81300  1650         3          2       3    No        North
104   82300  1910         3          2       4    No         East
17    83600  1990         3          3       4    No        North
47    90300  2050         3          2       6    No        North
..      ...   ...       ...        ...     ...   ...          ...
81   184300  2140         4          3       2   Yes         West
29   188000  2040         4          3       1   Yes         West
85   188300  2250         4          3       2   Yes         West
116  199500  2290         5          4       1   Yes         West
103  211200  2440         4          3       3   Yes         West

[128 rows x 7 columns]

In [35]:
import pandas as pd

data_hana = pd.read_clipboard()

# Menampilkan data
print(data_hana)

         Nama Gender  Angkatan  Tinggi Badan  Waktu Belajar Wilayah Tinggal
0        Hana      P      2024           155             15         Jakarta
1       Jorji      L      2024           160             70      Tanggerang
2        Arip      L      2024           170             60          Bekasi
3      Satria      L      2024           170             30         Jakarta
4      Fadhil      L      2024           170             40          Bekasi
5         Zul      L      2024           170             45      Tanggerang
6    Jonathan      L      2024           170             60      Tanggerang
7        Yuda      L      2024           170             51          Jaksel
8         Joe      P      2024           150             30          Jaktim
9       Agnar      L      2024           165             50          Grogol
10       Adit      L      2024           165             80            Jawa
11      Kahfi      L      2024           165             70           Jambi
12      Raziq      L      2024           165             60          Maluku
13      Gusti      L      2024           165             13          Manado
14      Zufar      L      2024           165             15     Timur Leste
15       Didi      L      2024           165             56          Brumai
16       Bela      L      2024           165             34          Bekasi
17       Echa      P      2024           165             24         Bintaro
18       Ratu      P      2024           159             10          Jaktim
19      Razan      L      2024           170             20          Bekasi
20    Santoso      L      2024           158             47           Depok
21     Wibowo      L      2024           165             86           Bogor
22    Saputra      L      2024           170             33        Cikarang
23      Utomo      L      2024           155             12         Ciputat
24  Kurniawan      L      2024           162             75         Serpong
25    Handoko      L      2024           168             22         Bandung
26    Nugroho      L      2024           159             90        Surabaya
27  Wijayanto      L      2024           160             59           Medan
28   Setiawan      L      2024           163             17        Makassar
29  Mahardika      L      2024           167             64       Denpasar

In [37]:
subset_tinggi = data_hana[['Tinggi Badan']]
print(subset_tinggi)

    Tinggi Badan
0            155
1            160
2            170
3            170
4            170
5            170
6            170
7            170
8            150
9            165
10           165
11           165
12           165
13           165
14           165
15           165
16           165
17           165
18           159
19           170
20           158
21           165
22           170
23           155
24           162
25           168
26           159
27           160
28           163
29           167

In [45]:
import numpy as np
import pandas as pd

data_hana['Tinggi Badan'] = pd.to_numeric(data_hana['Tinggi Badan'], errors='coerce')

# Mengubah nilai berdasarkan kondisi: jika nilai > 160 maka "Tinggi", jika tidak "Pendek"
data_hana['Tinggi Badan'] = np.where(data_hana['Tinggi Badan'] > 160, 'Tinggi', 'Pendek')

print(data_hana)

         Nama Gender  Angkatan Tinggi Badan  Waktu Belajar Wilayah Tinggal
0        Hana      P      2024       Pendek             15         Jakarta
1       Jorji      L      2024       Pendek             70      Tanggerang
2        Arip      L      2024       Pendek             60          Bekasi
3      Satria      L      2024       Pendek             30         Jakarta
4      Fadhil      L      2024       Pendek             40          Bekasi
5         Zul      L      2024       Pendek             45      Tanggerang
6    Jonathan      L      2024       Pendek             60      Tanggerang
7        Yuda      L      2024       Pendek             51          Jaksel
8         Joe      P      2024       Pendek             30          Jaktim
9       Agnar      L      2024       Pendek             50          Grogol
10       Adit      L      2024       Pendek             80            Jawa
11      Kahfi      L      2024       Pendek             70           Jambi
12      Raziq      L      2024       Pendek             60          Maluku
13      Gusti      L      2024       Pendek             13          Manado
14      Zufar      L      2024       Pendek             15     Timur Leste
15       Didi      L      2024       Pendek             56          Brumai
16       Bela      L      2024       Pendek             34          Bekasi
17       Echa      P      2024       Pendek             24         Bintaro
18       Ratu      P      2024       Pendek             10          Jaktim
19      Razan      L      2024       Pendek             20          Bekasi
20    Santoso      L      2024       Pendek             47           Depok
21     Wibowo      L      2024       Pendek             86           Bogor
22    Saputra      L      2024       Pendek             33        Cikarang
23      Utomo      L      2024       Pendek             12         Ciputat
24  Kurniawan      L      2024       Pendek             75         Serpong
25    Handoko      L      2024       Pendek             22         Bandung
26    Nugroho      L      2024       Pendek             90        Surabaya
27  Wijayanto      L      2024       Pendek             59           Medan
28   Setiawan      L      2024       Pendek             17        Makassar
29  Mahardika      L      2024       Pendek             64       Denpasar

In [47]:
# Misal, data_hana adalah DataFrame yang sudah ada
data_hana['Jurusan'] = 'Infor20'
data_hana['Fakultas'] = 'FTI'

# Menampilkan beberapa baris untuk verifikasi
print(data_hana.head())

     Nama Gender  Angkatan Tinggi Badan  Waktu Belajar Wilayah Tinggal  \
0    Hana      P      2024       Pendek             15         Jakarta
1   Jorji      L      2024       Pendek             70      Tanggerang
2    Arip      L      2024       Pendek             60          Bekasi
3  Satria      L      2024       Pendek             30         Jakarta
4  Fadhil      L      2024       Pendek             40          Bekasi

   Jurusan Fakultas
0  Infor20      FTI
1  Infor20      FTI
2  Infor20      FTI
3  Infor20      FTI
4  Infor20      FTI

In [49]:
# Menghapus kolom 'Fakultas' dari DataFrame data_hana
data_hana.drop('Fakultas', axis=1, inplace=True)

# Menampilkan DataFrame untuk memastikan kolom telah terhapus
print(data_hana.head())

     Nama Gender  Angkatan Tinggi Badan  Waktu Belajar Wilayah Tinggal  \
0    Hana      P      2024       Pendek             15         Jakarta
1   Jorji      L      2024       Pendek             70      Tanggerang
2    Arip      L      2024       Pendek             60          Bekasi
3  Satria      L      2024       Pendek             30         Jakarta
4  Fadhil      L      2024       Pendek             40          Bekasi

   Jurusan
0  Infor20
1  Infor20
2  Infor20
3  Infor20
4  Infor20

In [53]:
data_hana['Nama_Gender'] = data_hana['Nama'].astype(str) + " " + data_hana['Gender'].astype(str)

data_hana['Angkatan_TinggiBadan'] = data_hana['Angkatan'].astype(str) + " " + data_hana['Tinggi Badan'].astype(str)

data_hana['Gabungan'] = data_hana['Nama_Gender'] + " " + data_hana['Angkatan_TinggiBadan']

# Menampilkan hasil penggabungan
print(data_hana[['Nama_Gender', 'Angkatan_TinggiBadan', 'Gabungan']])

    Nama_Gender Angkatan_TinggiBadan                 Gabungan
0        Hana P          2024 Pendek       Hana P 2024 Pendek
1       Jorji L          2024 Pendek      Jorji L 2024 Pendek
2        Arip L          2024 Pendek       Arip L 2024 Pendek
3      Satria L          2024 Pendek     Satria L 2024 Pendek
4      Fadhil L          2024 Pendek     Fadhil L 2024 Pendek
5         Zul L          2024 Pendek        Zul L 2024 Pendek
6    Jonathan L          2024 Pendek   Jonathan L 2024 Pendek
7        Yuda L          2024 Pendek       Yuda L 2024 Pendek
8         Joe P          2024 Pendek        Joe P 2024 Pendek
9       Agnar L          2024 Pendek      Agnar L 2024 Pendek
10       Adit L          2024 Pendek       Adit L 2024 Pendek
11      Kahfi L          2024 Pendek      Kahfi L 2024 Pendek
12      Raziq L          2024 Pendek      Raziq L 2024 Pendek
13      Gusti L          2024 Pendek      Gusti L 2024 Pendek
14      Zufar L          2024 Pendek      Zufar L 2024 Pendek
15       Didi L          2024 Pendek       Didi L 2024 Pendek
16       Bela L          2024 Pendek       Bela L 2024 Pendek
17       Echa P          2024 Pendek       Echa P 2024 Pendek
18       Ratu P          2024 Pendek       Ratu P 2024 Pendek
19      Razan L          2024 Pendek      Razan L 2024 Pendek
20    Santoso L          2024 Pendek    Santoso L 2024 Pendek
21     Wibowo L          2024 Pendek     Wibowo L 2024 Pendek
22    Saputra L          2024 Pendek    Saputra L 2024 Pendek
23      Utomo L          2024 Pendek      Utomo L 2024 Pendek
24  Kurniawan L          2024 Pendek  Kurniawan L 2024 Pendek
25    Handoko L          2024 Pendek    Handoko L 2024 Pendek
26    Nugroho L          2024 Pendek    Nugroho L 2024 Pendek
27  Wijayanto L          2024 Pendek  Wijayanto L 2024 Pendek
28   Setiawan L          2024 Pendek   Setiawan L 2024 Pendek
29  Mahardika L          2024 Pendek  Mahardika L 2024 Pendek

In [55]:
import pandas as pd

# Misalkan data_hana adalah DataFrame yang sudah ada

# 1. Gabungan baris 1-5 (baris 1 sampai 5, yaitu index 0-4)
gabungan_1_5 = data_hana.iloc[0:5]

# 2. Gabungan baris 25-30 (baris 25 sampai 30, yaitu index 24-29)
gabungan_25_30 = data_hana.iloc[24:30]

# 3. Gabungkan kedua subset di atas menjadi satu DataFrame
gabungan_total = pd.concat([gabungan_1_5, gabungan_25_30], axis=0)

# Menampilkan hasil gabungan
print(gabungan_total)

         Nama Gender  Angkatan Tinggi Badan  Waktu Belajar Wilayah Tinggal  \
0        Hana      P      2024       Pendek             15         Jakarta
1       Jorji      L      2024       Pendek             70      Tanggerang
2        Arip      L      2024       Pendek             60          Bekasi
3      Satria      L      2024       Pendek             30         Jakarta
4      Fadhil      L      2024       Pendek             40          Bekasi
24  Kurniawan      L      2024       Pendek             75         Serpong
25    Handoko      L      2024       Pendek             22         Bandung
26    Nugroho      L      2024       Pendek             90        Surabaya
27  Wijayanto      L      2024       Pendek             59           Medan
28   Setiawan      L      2024       Pendek             17        Makassar
29  Mahardika      L      2024       Pendek             64       Denpasar

    Jurusan  Nama_Gender Angkatan_TinggiBadan                 Gabungan
0   Infor20       Hana P          2024 Pendek       Hana P 2024 Pendek
1   Infor20      Jorji L          2024 Pendek      Jorji L 2024 Pendek
2   Infor20       Arip L          2024 Pendek       Arip L 2024 Pendek
3   Infor20     Satria L          2024 Pendek     Satria L 2024 Pendek
4   Infor20     Fadhil L          2024 Pendek     Fadhil L 2024 Pendek
24  Infor20  Kurniawan L          2024 Pendek  Kurniawan L 2024 Pendek
25  Infor20    Handoko L          2024 Pendek    Handoko L 2024 Pendek
26  Infor20    Nugroho L          2024 Pendek    Nugroho L 2024 Pendek
27  Infor20  Wijayanto L          2024 Pendek  Wijayanto L 2024 Pendek
28  Infor20   Setiawan L          2024 Pendek   Setiawan L 2024 Pendek
29  Infor20  Mahardika L          2024 Pendek  Mahardika L 2024 Pendek

In [57]:
# Mengurutkan DataFrame berdasarkan kolom 'waktu perjalanan'
data_hana_sorted = data_hana.sort_values(by='waktu perjalanan')

# Menampilkan DataFrame yang telah diurutkan
print(data_hana_sorted)

KeyError: 'waktu perjalanan'

In [59]:
# Periksa kolom yang ada
print(data_hana.columns)

# Misalnya, jika kolom yang benar adalah "Waktu Perjalanan"
data_hana_sorted = data_hana.sort_values(by='Waktu Perjalanan')

print(data_hana_sorted)

Index(['Nama', 'Gender', 'Angkatan', 'Tinggi Badan', 'Waktu Belajar',
       'Wilayah Tinggal', 'Jurusan', 'Nama_Gender', 'Angkatan_TinggiBadan',
       'Gabungan'],
      dtype='object')

KeyError: 'Waktu Perjalanan'

In [61]:
# Cek dulu nama kolom yang ada
print(data_hana.columns)

# Mengurutkan DataFrame berdasarkan kolom 'waktu belajar'
data_hana_sorted = data_hana.sort_values(by='waktu belajar')

print(data_hana_sorted)

Index(['Nama', 'Gender', 'Angkatan', 'Tinggi Badan', 'Waktu Belajar',
       'Wilayah Tinggal', 'Jurusan', 'Nama_Gender', 'Angkatan_TinggiBadan',
       'Gabungan'],
      dtype='object')

KeyError: 'waktu belajar'

In [63]:
# Pastikan nama kolom sudah benar
print(data_hana.columns)

# Mengurutkan DataFrame berdasarkan kolom 'Waktu Belajar'
data_hana_sorted = data_hana.sort_values(by='Waktu Belajar')

# Menampilkan DataFrame yang sudah diurutkan
print(data_hana_sorted)

Index(['Nama', 'Gender', 'Angkatan', 'Tinggi Badan', 'Waktu Belajar',
       'Wilayah Tinggal', 'Jurusan', 'Nama_Gender', 'Angkatan_TinggiBadan',
       'Gabungan'],
      dtype='object')
         Nama Gender  Angkatan Tinggi Badan  Waktu Belajar Wilayah Tinggal  \
18       Ratu      P      2024       Pendek             10          Jaktim
23      Utomo      L      2024       Pendek             12         Ciputat
13      Gusti      L      2024       Pendek             13          Manado
0        Hana      P      2024       Pendek             15         Jakarta
14      Zufar      L      2024       Pendek             15     Timur Leste
28   Setiawan      L      2024       Pendek             17        Makassar
19      Razan      L      2024       Pendek             20          Bekasi
25    Handoko      L      2024       Pendek             22         Bandung
17       Echa      P      2024       Pendek             24         Bintaro
8         Joe      P      2024       Pendek             30          Jaktim
3      Satria      L      2024       Pendek             30         Jakarta
22    Saputra      L      2024       Pendek             33        Cikarang
16       Bela      L      2024       Pendek             34          Bekasi
4      Fadhil      L      2024       Pendek             40          Bekasi
5         Zul      L      2024       Pendek             45      Tanggerang
20    Santoso      L      2024       Pendek             47           Depok
9       Agnar      L      2024       Pendek             50          Grogol
7        Yuda      L      2024       Pendek             51          Jaksel
15       Didi      L      2024       Pendek             56          Brumai
27  Wijayanto      L      2024       Pendek             59           Medan
2        Arip      L      2024       Pendek             60          Bekasi
6    Jonathan      L      2024       Pendek             60      Tanggerang
12      Raziq      L      2024       Pendek             60          Maluku
29  Mahardika      L      2024       Pendek             64       Denpasar
11      Kahfi      L      2024       Pendek             70           Jambi
1       Jorji      L      2024       Pendek             70      Tanggerang
24  Kurniawan      L      2024       Pendek             75         Serpong
10       Adit      L      2024       Pendek             80            Jawa
21     Wibowo      L      2024       Pendek             86           Bogor
26    Nugroho      L      2024       Pendek             90        Surabaya

    Jurusan  Nama_Gender Angkatan_TinggiBadan                 Gabungan
18  Infor20       Ratu P          2024 Pendek       Ratu P 2024 Pendek
23  Infor20      Utomo L          2024 Pendek      Utomo L 2024 Pendek
13  Infor20      Gusti L          2024 Pendek      Gusti L 2024 Pendek
0   Infor20       Hana P          2024 Pendek       Hana P 2024 Pendek
14  Infor20      Zufar L          2024 Pendek      Zufar L 2024 Pendek
28  Infor20   Setiawan L          2024 Pendek   Setiawan L 2024 Pendek
19  Infor20      Razan L          2024 Pendek      Razan L 2024 Pendek
25  Infor20    Handoko L          2024 Pendek    Handoko L 2024 Pendek
17  Infor20       Echa P          2024 Pendek       Echa P 2024 Pendek
8   Infor20        Joe P          2024 Pendek        Joe P 2024 Pendek
3   Infor20     Satria L          2024 Pendek     Satria L 2024 Pendek
22  Infor20    Saputra L          2024 Pendek    Saputra L 2024 Pendek
16  Infor20       Bela L          2024 Pendek       Bela L 2024 Pendek
4   Infor20     Fadhil L          2024 Pendek     Fadhil L 2024 Pendek
5   Infor20        Zul L          2024 Pendek        Zul L 2024 Pendek
20  Infor20    Santoso L          2024 Pendek    Santoso L 2024 Pendek
9   Infor20      Agnar L          2024 Pendek      Agnar L 2024 Pendek
7   Infor20       Yuda L          2024 Pendek       Yuda L 2024 Pendek
15  Infor20       Didi L          2024 Pendek       Didi L 2024 Pendek
27  Infor20  Wijayanto L          2024 Pendek  Wijayanto L 2024 Pendek
2   Infor20       Arip L          2024 Pendek       Arip L 2024 Pendek
6   Infor20   Jonathan L          2024 Pendek   Jonathan L 2024 Pendek
12  Infor20      Raziq L          2024 Pendek      Raziq L 2024 Pendek
29  Infor20  Mahardika L          2024 Pendek  Mahardika L 2024 Pendek
11  Infor20      Kahfi L          2024 Pendek      Kahfi L 2024 Pendek
1   Infor20      Jorji L          2024 Pendek      Jorji L 2024 Pendek
24  Infor20  Kurniawan L          2024 Pendek  Kurniawan L 2024 Pendek
10  Infor20       Adit L          2024 Pendek       Adit L 2024 Pendek
21  Infor20     Wibowo L          2024 Pendek     Wibowo L 2024 Pendek
26  Infor20    Nugroho L          2024 Pendek    Nugroho L 2024 Pendek